<%layout("/layout/boilerplate")-%>
    <div class="row">

        <div class="col col-8 offset-2">


            <body>
                <h3>Edit your Listing</h3>
                <form method="POST" action="/listings/<%=listing._id%>?_method=PUT" class="needs-validation" novalidate>

                    <div class="mb-3"><label for="title" class="form-label">Title</label>
                        <input type="text" class="form-control" name="listing[title]" value="<%=listing.title%>"
                            required>
                        <div class="invalid-feedback">Invalid Title</div>
                    </div>

                    <div class="mb-3"><label for="description" class="form-label">Description</label>
                        <textarea name="listing[description]" class="form-control"
                            required> <%=listing.description%></textarea>
                        <div class="invalid-feedback">Add Description</div>
                    </div>

                    <div class="mb-3"><label for="Image" class="form-label">Image Link</label>
                        <input type="text" class="form-control" name="listing[image][url]"
                            value="<%=listing.image.url%>" required>
                        <div class="invalid-feedback">Invalid Image Url</div>
                    </div>

                    <div class="mb-3"><label for="price" class="form-label">Price</label>
                        <input type="number" class="form-control" name="listing[price]" value="<%=listing.price%>"
                            required>
                        <div class="invalid-feedback">Invalid Price</div>
                    </div>

                    <div class="row">
                        <div class="mb-3 col-md-6"><label for="location" class="form-label">Location</label>
                            <input type="text" class="form-control" name="listing[location]"
                                value="<%=listing.location%>" required>
                            <div class="invalid-feedback">Invalid Location</div>
                        </div>

                        <div class="mb-3 col-md-6"><label for="country" class="form-label">Country</label>
                            <input type="text" class="form-control" name="listing[country]" value="<%=listing.country%>"
                                required>
                            <div class="invalid-feedback">Invalid Country</div>
                        </div>
                    </div>
                    <button class="btn btn-dark edit-btn">Edit</button>
                </form>
            </body>
        </div>
    </div>

    <script src="/js/script.js"></script>