<%layout("/layout/boilerplate")-%>
    <div class="row">

        <div class="col col-8 offset-2">


            <body>
                <h3>Edit your Listing</h3>
                <form method="POST" action="/listings/<%=listing._id%>?_method=PUT">

                    <div class="mb-3"><label for="title" class="form-label">Title</label>
                        <input type="text" class="form-control" name="listing[title]" value="<%=listing.title%>">
                    </div>

                    <div class="mb-3"><label for="description" class="form-label">Description</label>
                        <textarea name="listing[description]" class="form-control"> <%=listing.description%></textarea>
                    </div>

                    <div class="mb-3"><label for="Image" class="form-label">Image Link</label>
                        <input type="text" class="form-control" name="listing[image][url]" value="<%=listing.image.url%>">
                    </div>

                    <div class="mb-3"><label for="price" class="form-label">Price</label>
                        <input type="number" class="form-control" name="listing[price]" value="<%=listing.price%>">
                    </div>

                    <div class="row">
                        <div class="mb-3 col-md-6"><label for="location" class="form-label">Location</label>
                            <input type="text" class="form-control" name="listing[location]"
                                value="<%=listing.location%>">
                        </div>

                        <div class="mb-3 col-md-6"><label for="country" class="form-label">Country</label>
                            <input type="text" class="form-control" name="listing[country]"
                                value="<%=listing.country%>">
                        </div>

                    </div>


                    <button class="btn btn-dark edit-btn">Edit</button>
                </form>
            </body>

        </div>


    </div>